In [1]:
import pandas as pd

df=pd.read_csv("SPECT.csv")
df.head()

,Class,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,...,Attr_13,Attr_14,Attr_15,Attr_16,Attr_17,Attr_18,Attr_19,Attr_20,Attr_21,Attr_22
0,Yes,0,0,0,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,0
1,Yes,0,0,1,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,1
2,Yes,1,0,1,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,Yes,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
4,Yes,0,0,0,0,0,0,0,1,0,...,1,0,1,1,0,0,0,0,0,0